@import url('https://fonts.googleapis.com/css?family=Eczar');
@import url('https://fonts.googleapis.com/css?family=Arimo');
@import url('https://fonts.googleapis.com/css?family=Lora');
@import url('https://fonts.googleapis.com/css?family=Arima+Madurai');

header{
	background-color: #FFED74;
	border: 1px black solid;
	padding: 20px;
}

nav {
	background-color: #E8C66A;
	border: 1px black solid;
	padding: 20px;
	width: 100%;
}

.navitem {
	display: inline-block;
    font-family: Arial;
    font-size: 18px;
    text-align: center;
    padding: 0 30px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 0.075em;
    position: relative;
}


aside {
	background-color: #FFC675;
	border: 1px black solid;
	padding: 20px;
}

article {
	background-color: #E89C6C;
	border: 1px black solid;
	padding: 20px;
}

footer {
	background-color:#FF957E;
	border: 1px black solid;
	padding: 20px;
}

section {
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
}

h1 {
	color:#8627E8;
	font-family: 'Arima Madurai', cursive;
	font-size: 44px;
}

h2 {
	font-family: Lora, serif;
	font-style: italic;
	font-size: 30px;
}

p {
	color:#8627E8;
	font-family: Lora, serif;
	font-size: 20px;
	line-height: 1.5em;
	margin: 2em;
}

ul {
	list-style-type: none;
	margin:0;
	padding: 0;
}

li {
	display: inline;
	text-transform: uppercase;
	text
	padding: 10px;
	width: 90%;

}




#two_column {
	background-color: #FFB7CF;
	border: 1px black solid;
	padding: 20px;
}

#left{
	background-color: #E582A2;
	border: 1px black solid;
	padding: 20px;
	float: left;
	width: 62%;
}

#right{
	background-color: #E55B88;
	border: 1px black solid;
	padding: 20px;
	float: right;
	width: 30%;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.container {
	width: 100%;
	padding-left: 50px;
}
