@import url('https://fonts.googleapis.com/css?family=Eczar');
@import url('https://fonts.googleapis.com/css?family=Arimo');
@import url('https://fonts.googleapis.com/css?family=Lora');
@import url('https://fonts.googleapis.com/css?family=Arima+Madurai');

header{
	background-color: #FFED74;
	border: 1px black solid;
	padding: 20px;
}

nav {
	background-color: #E8C66A;
	border: 1px black solid;
	padding: 5px;
	width: 100%;
}

.navitem {
	display: inline-block;
    font-family: Arial;
    font-size: 18px;
    text-align: center;
    padding: 20px 30px;
    text-decoration: none;
    color: #8627E8;
    letter-spacing: 0.075em;
    position: relative;
}


aside {
	background-color: #FFC675;
	border: 1px black solid;
	padding: 20px;
	position: relative;
	float: right;
	width: 20%;
	top: 0px;
	bottom: 0px;
}

article {
	background-color: #E89C6C;
	border: 1px black solid;
	padding: 20px;
	height: auto;
}

footer {
	background-color:#FF957E;
	border: 1px black solid;
}

section {
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
}

h1 {
	color:#8627E8;
	font-family: 'Arima Madurai', cursive;
	font-size: 44px;
}

h2 {
	font-family: Lora, serif;
	font-style: italic;
	font-size: 30px;
}

p {
	color:#8627E8;
	font-family: Lora, serif;
	font-size: 20px;
	line-height: 1.5em;
	margin: 2em;
}

ul {
	list-style-type: none;
	margin:0;
	padding: 0;
	overflow: hidden;
	background-color: white;
	width: 100%;
}

li {
	float: left;
}

li a {
	display: block;
	color:pink;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
	background-color: red;
}

#two_column {
	background-color: #FFB7CF;
	border: 1px black solid;
	padding: 20px;
}

#left{
	background-color: #E582A2;
	border: 1px black solid;
	padding: 20px;
	float: left;
	width: 71%;
}

#right{
	background-color: #E55B88;
	border: 1px black solid;
	padding: 20px;
	float: right;
	width: 20%;
}

.left_article {
	float: left;
	width: 20%;
	height: auto;
	position: relative;
	padding: 10px;

}

.right_article {
	float: right;
	width: 68%;
	position: relative;
	bottom: 10px;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.container {
	margin: 0;
	padding: 0;
	background-color: purple;
}

.wrapper {
	width: 100%;
}

#dogpics {
	width: 90%;
	position: relative;
	left: 10%;
}

.floating-box {
    display: inline-block;
    width: 20%;
    height: 90%;
    margin: auto;
    border: 3px solid #73AD21;  
}

.floating-box2 {
    display: inline-block;
    width: 20%;
    height: auto;
    margin: auto; 
}

@media only screen and (max-width: 992px) {

	#left {
		float: none;
		width: 100%;
	}

	#right {
		float: none;
		width: 100%;
	}

	#dogpics{
		float: left;
	}

	h3, h4 {
		float: left;
	}
}
