h1 {
	color:#8627E8;
	font-family: "Eczar", serif;
	font-size: 44px;
}

h2 {
	font-family: 'Lora', serif;
	font-style: italic;
	font-size: 36px;
}

p {
	color:#8627E8;
	font-size: 20px;
	line-height: 24px;
}

ul{
	font-size: 26px;
}