@import url('https://fonts.googleapis.com/css?family=Eczar');
@import url('https://fonts.googleapis.com/css?family=Arimo');
@import url('https://fonts.googleapis.com/css?family=Lora');
@import url('https://fonts.googleapis.com/css?family=Arima+Madurai');


h1 {
	color:#8627E8;
	font-family: 'Arima Madurai', cursive;
	font-size: 44px;
}

h2 {
	font-family: Lora, serif;
	font-style: italic;
	font-size: 30px;
}

p {
	color:#8627E8;
	font-family: Lora, serif;
	font-size: 20px;
	line-height: 1.5em;
	margin: 2em;
}

li {
	font-size: 26px;
}
